In [ ]:
import pandas as pd
import numpy as np
import xlrd
import os
import pprint
from tkinter import filedialog as fd
os.chdir(r"C:\Users\pallist\Desktop\ΤΡΕΧΟΝΤΑ\testing folder")
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
# pd.options.display.max_rows = 999

In [ ]:
onomata = pd.read_excel("ΒΑΣΗ ΟΝΟΜΑΤΩΝ (ΑΡΣΕΝΙΚΑ).xlsx")
lista_onomaton = onomata.iloc[:,1]

In [ ]:
file= fd.askopenfilename()

In [ ]:
stoixeia = pd.read_excel(file)
stoixeia

In [ ]:
# Insert columns of raw data into a new dataframe (if there is extra informtion about the person, add those columns too)

test = pd.DataFrame()
test["Ton"] = ""
test["Surname"] = stoixeia.iloc[:,0]
test["Name"] = stoixeia.iloc[:,1]
test["Father"] = stoixeia.iloc[:,2]

if len(stoixeia.columns) > 3 and not stoixeia.iloc[:,3].str.isnumeric().all():
    test["City"] = stoixeia.iloc[:,3]
    test["Address"] = stoixeia.iloc[:,4].astype(str)
    test["Number"] = stoixeia.iloc[:,5]
    test["Number"] = test["Number"].astype(str)
    if  is_numeric_dtype(stoixeia.iloc[:,6]):
        test["TK"] = stoixeia.iloc[:,6].fillna(0).astype(int).astype(str)
    else :
        test["TK"]  = ""
    if is_numeric_dtype(stoixeia.iloc[:,7]):
        test["ΑΦΜ"] = stoixeia.iloc[:,7].fillna(0).astype(int).astype(str)
    else :
        test["ΑΦΜ"]  = ""    
    test["stoixeia"] = ""
test.columns

In [ ]:
# Create hashmap dictionary για τις εξαιρέσεις των άρθρων και πόλεων 


ton_list = ["ΜΙΧΑΗΛ", "ΕΜΜΑΝΟΥΗΛ", "ΣΠΥΡΙΔΩΝ", "ΑΧΙΛΛΕΥΣ", "ΟΔΥΣΣΕΥΣ"]



keys = ["ΧΑΝΙΑ", "ΦΑΡΣΑΛΑ", "ΙΩΑΝΝΙΝΑ", "ΣΕΠΟΛΙΑ", "ΤΡΙΚΑΛΑ","ΑΝΩ ΛΙΟΣΙΑ", "ΚΑΛΥΒΙΑ", "ΜΕΓΑΡΑ","ΝΈΟ ΗΡΑΚΛΕΙΟ", "ΠΑΛΑΙΟ ΦΑΛΗΡΟ", "ΝΕΑ ΙΩΝΙΑ", "ΑΓΙΟΙ ΑΝΑΡΓΥΡΟΙ", "ΑΓΙΑ ΠΑΡΑΣΚΕΥΗ"]

values = ["ΧΑΝΙΩΝ", "ΦΑΡΣΑΛΩΝ", "ΙΩΑΝΝΙΝΩΝ", "ΣΕΠΟΛΙΩΝ","ΤΡΙΚΑΛΩΝ", "ΑΝΩ ΛΙΟΣΙΩΝ", "ΚΑΛΥΒΙΩΝ", "ΜΕΓΑΡΩΝ", "ΝΕΟΥ ΗΡΑΚΛΕΙΟΥ", "ΠΑΛΑΙΟΥ ΦΑΛΗΡΟΥ", "ΝΕΑΣ ΙΩΝΙΑΣ" , "ΑΓΙΩΝ ΑΝΑΡΓΥΡΩΝ", "ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ"]

city_dict = dict(zip(keys, values))

In [ ]:
# Fix names and cities functions

def names () :
    ton_list = []
    for t in test["Name"] :
            x = str(t)
            for ton1 in lista_onomaton :
                if x == ton1:
                    ton_list.append("Τον")            
            if x[-2:] == "ΟΣ" or x[-2:] == "ΗΣ" :
                ton_list.append("Τον")
            elif x[-1:] == "Α" or x[-1:] == "Η":
                ton_list.append("Την")
            else :
                ton_list.append("Την")    
    test["Ton"] = ton_list

    surname_list = []
    
    
    for t in test["Surname"] :
        x = str(t)
        if x[-1] == "Σ" :
            x = x[:-1]
        surname_list.append(t)        
    test["Surname"] = surname_list        

    name_list = []

    for t in test["Name"] :
        x = str(t)
        if x[-1] == "Σ" :
            x = t[:-1]
        name_list.append(t)

    test["Name"] = name_list

    father_list = []

    for t in test["Father"] :
        x = str(t)
        if x[-2:] == "ΗΣ" or x[-2:] == "ΑΣ" :
            x = x[:-1]
        elif x[-2:] == "ΟΣ":
            x = x[:-1] + "Y"
    #     print(x)
        father_list.append(x)        

    test["Father"] = father_list

    test

In [123]:
cols = ['ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ', 'ΑΡΙΘΜΟΣ ΑΙΤΗΣΗΣ']
col_date = ['ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ']



# stoixeia[stoixeia[cols].isna().all(1)] # Find both nulls columns application
# stoixeia[stoixeia[cols].notnull().all(1)] # Find both non-null columns application
stoixeia[stoixeia[['ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ']].isna().all(1)] # Find all non-null dates(filter oinyl dates)

,ΕΠΙΘΕΤΟ,ΟΝΟΜΑ,ΠΑΤΡΩΝΥΜΟ,ΠΟΛΗ,ΟΔΟΣ,ΑΡΙΘΜΟΣ,ΤΚ,ΑΦΜ,ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ,ΑΡΙΘΜΟΣ ΑΙΤΗΣΗΣ,...,ΠΟΣΟ ΤΕΛΙΚΟΥ ΛΟΓΑΡΙΑΣΜΟΥ,ΗΜΕΡ.ΛΟΓΑΡΙΑΣΜΟΥ,ΠΟΣΟ ΟΦΕΙΛΗΣ,ΑΘΡΟΙΣΜΑ ΠΟΣΟΥ ΟΦΕΙΛΗΣ (2 ΠΑΡΟΧΕΣ),ΣΥΜΒΑΣΗ,ΠΟΛΗ 2,ΟΔΟΣ 2,ΑΡΙΘΜΟΣ 2,ΤΚ 2,Account Date
26,ΤΖΙΝΙΑ,ΑΙΚΑΤΕΡΙΝΗ,ΑΝΤΩΝΙΟΣ,ΜΟΣΧΑΤΟ,ΟΚΛΑ Θ.,NaN,18233.0,133167667,NaN,NaN,...,706.84,2022-02-04,706.84,771.34,VOLTON,NaN,NaN,NaN,NaN,04-02-2022
36,MEKONNEN,ATSEDE,ZERTHUN,ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ,ΒΑΣΙΛΕΩΣ ΓΕΩΡΓΙΟΥ,10,68400.0,143158389,NaN,NaN,...,699.59,2022-09-14,691.23,760.91,ΝΟVA,NaN,NaN,NaN,NaN,20-01-2022
37,MEKONNEN,ATSEDE,ZERTHUN,ΑΛΕΞΑΝΔΡΟΥΠΟΛΗ,ΒΑΣΙΛΕΩΣ ΓΕΩΡΓΙΟΥ,10,68400.0,143158389,NaN,NaN,...,72.67,2020-10-01,69.68,760.91,NOVA,NaN,NaN,NaN,NaN,05-03-2020
64,ΑΡΑΠΑΚΗ,ΣΠΗΛΙΟ,Έλλειψη πατρωνύμου,ΑΚΡΑΤΑ,ΑΚΡΑΤΑ,NaN,25006.0,110039187,NaN,NaN,...,761.51,2022-04-13,661.06,NaN,VOLTON,NaN,NaN,NaN,NaN,12-01-2022
182,ΔΟΥΚΑ,ΔΗΜΗΤΡΙΟ,ΣΤΥΛΙΑΝΟΣ,ΓΛΥΦΑΔΑ,ΒΥΖΑΝΤΙΟΥ,7,16562.0,104352189,NaN,NaN,...,1066.50,2022-09-29,320.00,NaN,NOVA,NaN,NaN,NaN,NaN,20-01-2022
192,ΑΣΛΑΝΙΔΟΥ,ΙΩΑΝΝΑ,ΒΑΣΙΛΕΙΟΣ,ΞΑΝΘΗ,ΚΩΝΣΤΑΝΤΙΝΟΥ ΒΑΣΙΛΕΩΣ,76,67100.0,53344418,NaN,NaN,...,542.16,2022-04-07,532.32,NaN,VOLTON,NaN,NaN,NaN,NaN,20-01-2022
200,ΤΖΟΛΑ,ΠΑΝΑΓΙΩΤΗ,ΗΛΙΑΣ,ΒΡΑΧΝΑΙΙΚΑ,ΘΕΟΤΟΚΟΠΟΥΛΟΥ,20,26500.0,166645035,NaN,NaN,...,528.39,2022-09-14,478.00,NaN,VOLTON,NaN,NaN,NaN,NaN,27-01-2022
223,ΚΑΡΑΚΙΤΣΟΥ,ΘΩΜΑΙ,ΙΩΑΝΝΗΣ,ΓΛΥΦΑΔΑ,ΑΓΓΕΛΟΥ ΜΕΤΑΞΑ,60,16674.0,131214118,NaN,NaN,...,541.51,2022-04-07,509.30,NaN,VOLTON,NaN,NaN,NaN,NaN,20-01-2022
249,ΤΣΙΓΓΕΛΙΔΗ,ΑΝΑΣΤΑΣΙΟ,ΘΕΟΦΑΝΗΣ,ΘΕΣΣΑΛΟΝΙΚΗ,ΠΑΡΑΛΙΑ ΟΡΜΟΥ,84,57500.0,102138442,NaN,2.219315e+11,...,488.95,2022-09-14,449.43,NaN,VOLTON,NaN,NaN,NaN,NaN,27-01-2022
282,ΔΗΜΟΠΟΥΛΟ,ΔΗΜΗΤΡΙΟ,ΝΙΚΗΤΑΣ,ΚΑΛΑΜΑΤΑ,ΚΑΡΕΛΙΑ ΕΥΣΤΑΘΙΟΥ,49,24100.0,73335394,NaN,NaN,...,637.22,2022-04-13,467.54,NaN,NOVA,NaN,NaN,NaN,NaN,20-01-2022
296,ΙΩΑΝΝΙΔΗ,ΝΙΚΟΛΑΟ,ΙΩΑΝΝΗΣ,ΠΕΙΡΑΙΑΣ,ΑΝΔΡΟΥΤΣΟΥ,154,18535.0,70261070,NaN,NaN,...,366.89,2021-04-05,312.61,NaN,VOLTON,NaN,NaN,NaN,NaN,20-12-2020
302,ΚΑΠΟΤΗ,ΕΥΑΓΓΕΛΟ,ΣΠΥΡΙΔΩΝ,ΛΕΥΚΑΔΑ,ΑΓΙΑΣ ΜΑΥΡΑΣ,NaN,31100.0,27214180,NaN,9.354094e+10,...,553.38,2021-10-26,257.98,976.50,VOLTON,NaN,NaN,NaN,NaN,10-04-2021
303,ΤΣΑΚΙΡΗ,ΑΓΓΕΛΙΚΗ,ΓΕΩΡΓΙΟΣ,ΝΕΑ ΙΩΝΙΑ,ΝΕΑ ΜΑΔΗΤΟΣ,NaN,57014.0,134870858,NaN,NaN,...,320.23,2021-04-05,305.08,NaN,NOVA,NaN,NaN,NaN,NaN,20-12-2020
312,ΖΑΦΕΙΡΟΥΛΗ,ΒΑΣΙΛΙΚΗ,ΝΙΚΟΛΑΟΣ,ΛΑΡΙΣΑ,ΑΡΙΣΤΟΦΑΝΟΥΣ,18,41336.0,140403486,NaN,NaN,...,2032.18,2022-10-05,1908.45,NaN,VOLTON,NaN,NaN,NaN,NaN,25-12-2020
336,ΚΑΛΚΑΝΑ,ΕΛΕΟΝΩΡΑ,ΓΕΩΡΓΙΟΣ,ΑΝΔΡΟΣ,ΧΩΡΑ,NaN,84500.0,146148851,NaN,NaN,...,1296.79,2021-04-05,983.41,NaN,VOLTON,NaN,NaN,NaN,NaN,05-12-2020
355,ΨΑΡΙΑΝΟ,ΑΓΓΕΛΟ,ΣΠΥΡΙΔΩΝ,ΘΕΣΣΑΛΟΝΙΚΗ,ΠΑΛΑΙΟΛΟΓΟΥ,9,54622.0,44346776,NaN,NaN,...,455.37,2021-09-06,681.65,NaN,ΝΟVA,NaN,NaN,NaN,NaN,20-12-2020
356,ΦΩΤΙΑΔΟΥ,ΕΛΕΝΗ,ΒΑΣΙΛΕΙΟΣ,ΚΑΤΕΡΙΝΗ,ΚΙΟΥ,5,60100.0,67954072,NaN,NaN,...,806.04,2021-04-05,679.29,NaN,ΝΟVA,NaN,NaN,NaN,NaN,05-12-2020
370,ΠΑΣΙΟ,ΚΩΝΣΤΑΝΤΙΝΟ,ΒΑΙΟΣ,ΛΑΡΙΣΑ,ΝΕΑ ΜΑΔΗΤΟΣ,NaN,57014.0,144869161,NaN,NaN,...,617.57,2021-04-05,599.49,NaN,VOLTON,NaN,NaN,NaN,NaN,20-12-2020
376,ΚΟΥΡΤΗ,ΜΙΧΑΗΛ,ΚΩΝΣΤΑΝΤΙΝΟΣ,ΚΕΡΑΤΣΙΝΙ,ΚΑΝΑΡΗ,41,18756.0,160366698,NaN,NaN,...,279.92,2020-10-01,165.23,NaN,VOLTON,NaN,NaN,NaN,NaN,25-01-2020
384,ΣΟΥΤΖΟΥ,ΑΛΕΞΑΝΔΡΑ,NaN,NaN,NaN,NaN,NaN,165467228,NaN,NaN,...,NaN,NaT,NaN,NaN,VOLTON,NaN,NaN,NaN,NaN,NaN
387,ΟΙΚΟΝΟΜΗ,ΑΝΝΑ,ΔΗΜΗΤΕΡ,ΑΓΡΙΝΙΟ,ΚΑΒΑΦΗ ΚΩΝ.,10,30100.0,145166348,NaN,NaN,...,492.48,2021-04-05,471.88,NaN,VOLTON,NaN,NaN,NaN,NaN,10-12-2020
394,ΤΡΑΝΤΟ,ΓΕΩΡΓΙΟ,ΧΡΗΣΤΟΣ,ΣΕΡΡΕΣ,ΗΡΟΔΟΤΟΥ,33,62124.0,149419292,NaN,NaN,...,443.87,2020-12-20,443.87,NaN,ΝΟVA,NaN,NaN,NaN,NaN,20-12-2020
403,ΤΣΑΓΙΑ,ΟΤΑΒΙΑΝ,NaN,ΑΘΗΝΑ,ΣΑΝΤΑΡΟΖΑ,3,10564.0,153337897,NaN,NaN,...,446.58,2021-04-05,409.73,NaN,VOLTON,NaN,NaN,NaN,NaN,25-12-2020
405,SULEJMANI,NERITAN,Έλλειψη πατρωνύμου,ΑΘΗΝΑ,ΑΛΕΚΤΟΥ,14,11633.0,170809184,NaN,NaN,...,458.77,2021-04-05,405.10,NaN,ΝΟVA,NaN,NaN,NaN,NaN,20-12-2020
424,ΚΡΕΜΜΥΔΑ,ΑΝΑΣΤΑΣΙΟ,Έλλειψη πατρωνύμου,ΝΕΑ ΑΡΤΑΚΗ,ΕΘΝ. ΑΝΕΞΑΡΤΗΣΙΑΣ,1,34600.0,76166194,NaN,NaN,...,650.41,2021-04-05,355.85,NaN,VOLTON,NaN,NaN,NaN,NaN,10-12-2020
426,ΣΑΚΚΕΤΟ,ΠΑΝΑΓΙΩΤΗ,NaN,ΑΙΓΙΟ,ΑΓ.ΚΩΝ/ΝΟΥ,2,25100.0,109970313,NaN,NaN,...,380.15,2021-04-05,349.54,NaN,VOLTON,NaN,NaN,NaN,NaN,25-12-2020

In [124]:
def account() :
    stoixeia['Account Date'] = pd.to_datetime(stoixeia['ΗΜΕΡ.ΤΕΛΙΚΟΥ ΛΟΓΙΑΡΙΑΣΜΟΥ']).dt.strftime('%d-%m-%Y')
    test['Νumber/date account'] = stoixeia['ΑΡ.ΤΕΛΙΚΟΣ ΛΟΓΑΡΙΑΣΜΟΥ'].astype('string') + "/" + stoixeia['Account Date'].astype('string')
    stoixeia

def aitisi() : 

 








test['Νumber/date application'] = stoixeia['ΑΡΙΘΜΟΣ ΑΙΤΗΣΗΣ'].map()

IndentationError: expected an indented block after function definition on line 6 (2472464181.py, line 17)

In [95]:
def cities() :    
    
    city_list = []

    for t in test["City"] :
        x = str(t)

        for city1, city2 in city_dict.items() :
            if x == city1:
                x = city2
        
        if x[-1] == "Α" or x[-1] == "Η" :
            x = x + "Σ"
        
        elif x[-2:] == "ΑΣ" :
            x = x[:-1]    
    
        elif x[-2:] == "ΕΣ" or x[-2:] == "ΟΙ":
            x = x[:-2] + "ΩΝ"    
            
        elif x[-1] == "Ι"  :
            x = x + "ΟΥ"

        elif x[-1] == "Ο"  :
            x = x + "Υ"

        elif x[-2:] == "ΟΣ" :
            x = x[:-1] + "Y"

        city_list.append(x)

    test["City"] = city_list

In [96]:
# names()
if {'ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ', 'ΑΡΙΘΜΟΣ ΑΙΤΗΣΗΣ','ΑΡ.ΤΕΛΙΚΟΣ ΛΟΓΑΡΙΑΣΜΟΥ','ΗΜΕΡ.ΤΕΛΙΚΟΥ ΛΟΓΙΑΡΙΑΣΜΟΥ'}.issubset(stoixeia.columns):
    print("Συγχαρητήρια είναι ένα υγιέστατο εξώδικο!")
    account()
    
elif len(stoixeia.columns) > 4 :
    cities()
    test["stoixeia_full"] = test["Ton"] + " " + test["Surname"] + " " + test["Name"] + " " + "του " + test['Father'] + ", κάτοικο "+ test["City"] + ", οδός " + test["Address"] + " αρ. " + test["Number"] + ", ΤΚ " + test["TK"] + ", με ΑΦΜ " + test["ΑΦΜ"] + "."



test["stoixeia"]=  test["Ton"] + " " + test["Surname"] + " " + test["Name"] 
# filename = file[60:80]
# test.to_excel(f"{filename}.xlsx", index = False)

# os.startfile(f"{filename}.xslx")

Συγχαρητήρια είναι ένα υγιέστατο εξώδικο!

In [97]:
test

,Ton,Surname,Name,Father,City,Address,Number,TK,ΑΦΜ,stoixeia,Νumber/date account
0,NaN,ΣΑΡΑΝΤΑΡΗ,ΠΑΝΑΓΙΩΤΑ,ΠΑΝΤΕΛΗΣ,ΑΡΤΑ,ΧΑΛΚΙΑΔΕΣ,nan,47100,115068290,NaN,1.2112163505160518e+16/01-01-2022
1,NaN,ΜΠΑΣΟΥΚΟ,ΙΩΑΝΝΗ,ΛΟΥΚΑΣ,ΧΑΛΚΙΔΑ,ΧΑΙΝΑ,1,34100,26702675,NaN,1.2112294351101932e+16/27-01-2022
2,NaN,ΧΡΥΣΤΟΠΟΥΛΟΥ,ΔΗΜΗΤΡΑ,ΚΩΝΣΤΑΝΤΙΝΟΣ,ΛΑΜΙΑ,ΠΑΛΑΙΟΛΟΓΟΥ,14,35100,149853000,NaN,1220105420468059.0/12-01-2022
3,NaN,ΚΟΛΟΤΟΥΡΟ,ΑΝΔΡΕΑ,ΓΕΩΡΓΙΟΣ,ΑΙΓΑΛΕΩ,ΣΑΜΟΥ,62,12243,165327791,NaN,1.2112140084243912e+16/01-01-2022
4,NaN,ΓΕΩΡΓΟΥΛΑΚΟΥ,ΠΑΝΑΓΙΩΤΑ,ΙΩΑΝΝΗΣ,ΝΙΚΑΙΑ,ΚΑΛΛΙΠΟΛΕΩΣ,18,18454,103197323,NaN,1.2111030223750918e+16/14-01-2022
...,...,...,...,...,...,...,...,...,...,...,...
427,NaN,RALUCA,MIRELA,MIHAI,ΑΘΗΝΑ,ΣΚΙΑΘΟΥ,8,11254,175667062,NaN,1201202004627665.0/25-12-2020
428,NaN,ΒΑΒΑΡΟΥΤΑ,ΠΑΝΑΓΙΩΤΗ,ΑΝΔΡΕΑΣ,ΠΑΤΡΑ,ΚΟΡΙΝΘΟΥ,385,26222,46005178,NaN,1201204302308896.0/10-12-2020
429,NaN,CEKOLLI,BRUNILDA,Έλλειψη πατρωνύμου,ΛΑΡΙΣΑ,ΑΓΙΑ,nan,40003,111266580,NaN,1.2012014067021812e+16/10-12-2020
430,NaN,ΚΟΤΣΙΦΑ,ΠΑΝΑΓΙΩΤΗ,ΦΩΤΙΟΣ,ΑΘΗΝΑ,ΑΝΤΙΦΙΛΟΥ,19,11528,26875931,NaN,1.2011301850895316e+16/10-12-2020
431,NaN,ELSHENIKY,ELTABEI,HASAN MOHAMMED,ΑΘΗΝΑ,ΠΟΝΤΟΥ,70,11527,127556214,NaN,1201202006309639.0/25-12-2020