In [12]:
import pandas as pd
import numpy as np
import xlrd
import os
import pprint
from tkinter import filedialog as fd
os.chdir(r"C:\Users\pallist\Desktop\ΤΡΕΧΟΝΤΑ\testing folder")
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [2]:
onomata = pd.read_excel("ΒΑΣΗ ΟΝΟΜΑΤΩΝ (ΑΡΣΕΝΙΚΑ).xlsx")
lista_onomaton = onomata.iloc[:,1]

In [3]:
file= fd.askopenfilename()

In [4]:
stoixeia = pd.read_excel(file)
stoixeia

,ΕΠΙΘΕΤΟ,ΟΝΟΜΑ,ΠΑΤΡΩΝΥΜΟ,ΠΟΛΗ,ΟΔΟΣ,ΑΡΙΘΜΟΣ,ΤΚ,ΑΦΜ,ΗΜΕΡ.ΥΠΟΓΡ.ΑΙΤΗΣΗΣ,ΑΡΙΘΜΟΣ ΑΙΤΗΣΗΣ,...,ΗΜΕΡ.ΤΕΛΙΚΟΥ ΛΟΓΙΑΡΙΑΣΜΟΥ,ΠΟΣΟ ΤΕΛΙΚΟΥ ΛΟΓΑΡΙΑΣΜΟΥ,ΗΜΕΡ.ΛΟΓΑΡΙΑΣΜΟΥ,ΠΟΣΟ ΟΦΕΙΛΗΣ,ΑΘΡΟΙΣΜΑ ΠΟΣΟΥ ΟΦΕΙΛΗΣ (2 ΠΑΡΟΧΕΣ),ΣΥΜΒΑΣΗ,ΠΟΛΗ 2,ΟΔΟΣ 2,ΑΡΙΘΜΟΣ 2,ΤΚ 2
0,ΣΑΡΑΝΤΑΡΗ,ΠΑΝΑΓΙΩΤΑ,ΠΑΝΤΕΛΗΣ,ΑΡΤΑ,ΧΑΛΚΙΑΔΕΣ,NaN,47100,115068290,2020-06-15 00:00:00,9.350516e+11,...,2022-01-01 00:00:00,841.22,2022-09-14,730.40,NaN,VOLTON,NaN,NaN,NaN,NaN
1,ΜΠΑΣΟΥΚΟ,ΙΩΑΝΝΗ,ΛΟΥΚΑΣ,ΧΑΛΚΙΔΑ,ΧΑΙΝΑ,1,34100,26702675,2019-05-29 00:00:00,4.435110e+10,...,2022-01-27 00:00:00,755.07,2022-04-13,737.62,NaN,VOLTON,NaN,NaN,NaN,NaN
2,ΧΡΥΣΤΟΠΟΥΛΟΥ,ΔΗΜΗΤΡΑ,ΚΩΝΣΤΑΝΤΙΝΟΣ,ΛΑΜΙΑ,ΠΑΛΑΙΟΛΟΓΟΥ,14,35100,149853000,2021-04-08 00:00:00,4.420468e+08,...,2022-01-12 00:00:00,735.40,2022-09-14,651.39,NaN,VOLTON,NaN,NaN,NaN,NaN
3,ΚΟΛΟΤΟΥΡΟ,ΑΝΔΡΕΑ,ΓΕΩΡΓΙΟΣ,ΑΙΓΑΛΕΩ,ΣΑΜΟΥ,62,12243,165327791,2020-12-18 00:00:00,1.008424e+08,...,2022-01-01 00:00:00,762.63,2022-09-14,729.38,NaN,VOLTON,NaN,NaN,NaN,NaN
4,ΓΕΩΡΓΟΥΛΑΚΟΥ,ΠΑΝΑΓΙΩΤΑ,ΙΩΑΝΝΗΣ,ΝΙΚΑΙΑ,ΚΑΛΛΙΠΟΛΕΩΣ,18,18454,103197323,2020-06-12 00:00:00,6.022375e+08,...,2022-01-14 00:00:00,797.84,2022-09-14,713.91,NaN,VOLTON,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,ΦΑΚΑ,ΖΗΣΗ,ΑΧΙΛΛΕΑΣ,ΛΑΡΙΣΑ,ΠΡΟΦΗΤΗ ΗΛΙΑ,12,41335,104611180,2020-04-06 00:00:00,4.405746e+11,...,2020-12-10 00:00:00,455.04,2021-04-05,349.93,NaN,VOLTON,NaN,NaN,NaN,NaN
410,RALUCA,MIRELA,MIHAI,ΑΘΗΝΑ,ΣΚΙΑΘΟΥ,8,11254,175667062,2020-07-08 00:00:00,1.004628e+10,...,2020-12-25 00:00:00,387.11,2021-04-05,348.79,NaN,VOLTON,NaN,NaN,NaN,NaN
411,ΒΑΒΑΡΟΥΤΑ,ΠΑΝΑΓΙΩΤΗ,ΑΝΔΡΕΑΣ,ΠΑΤΡΑ,ΚΟΡΙΝΘΟΥ,385,26222,46005178,2020-06-04 00:00:00,3.302309e+08,...,2020-12-10 00:00:00,424.77,2021-04-05,346.96,NaN,VOLTON,NaN,NaN,NaN,NaN
412,ΚΟΤΣΙΦΑ,ΠΑΝΑΓΙΩΤΗ,ΦΩΤΙΟΣ,ΑΘΗΝΑ,ΑΝΤΙΦΙΛΟΥ,19,11528,26875931,2019-06-26 00:00:00,1.185090e+08,...,2020-12-10 00:00:00,476.77,2021-04-05,341.29,NaN,VOLTON,NaN,NaN,NaN,NaN
413,ELSHENIKY,ELTABEI,HASAN MOHAMMED,ΑΘΗΝΑ,ΠΟΝΤΟΥ,70,11527,127556214,2020-03-18 00:00:00,1.006310e+10,...,2020-12-25 00:00:00,673.48,2021-04-05,340.25,NaN,VOLTON,NaN,NaN,NaN,NaN

In [29]:
# Insert columns of raw data into a new dataframe (if there is extra informtion about the person, add those columns too)

test = pd.DataFrame()
test["Ton"] = ""
test["Surname"] = stoixeia.iloc[:,0]
test["Name"] = stoixeia.iloc[:,1]
test["Father"] = stoixeia.iloc[:,2]

if len(stoixeia.columns) > 3 and not stoixeia.iloc[:,3].str.isnumeric().all():
    test["City"] = stoixeia.iloc[:,3]
    test["Address"] = stoixeia.iloc[:,4].astype(str)
    test["Number"] = stoixeia.iloc[:,5]
    test["Number"] = test["Number"].astype(str)
    if  is_numeric_dtype(stoixeia.iloc[:,6]):
        test["TK"] = stoixeia.iloc[:,6].fillna(0).astype(int).astype(str)
    else :
        test["TK"]  = ""
    if is_numeric_dtype(stoixeia.iloc[:,7]):
        test["ΑΦΜ"] = stoixeia.iloc[:,7].fillna(0).astype(int).astype(str)
    else :
        test["ΑΦΜ"]  = ""    
    test["stoixeia"] = ""
test.columns

Index(['Ton', 'Surname', 'Name', 'Father', 'City', 'Address', 'Number', 'TK',
       'ΑΦΜ', 'stoixeia'],
      dtype='object')

In [30]:
# Create hashmap dictionary για τις εξαιρέσεις των άρθρων και πόλεων 


ton_list = ["ΜΙΧΑΗΛ", "ΕΜΜΑΝΟΥΗΛ", "ΣΠΥΡΙΔΩΝ", "ΑΧΙΛΛΕΥΣ", "ΟΔΥΣΣΕΥΣ"]



keys = ["ΧΑΝΙΑ", "ΦΑΡΣΑΛΑ", "ΙΩΑΝΝΙΝΑ", "ΣΕΠΟΛΙΑ", "ΤΡΙΚΑΛΑ","ΑΝΩ ΛΙΟΣΙΑ", "ΚΑΛΥΒΙΑ", "ΜΕΓΑΡΑ","ΝΈΟ ΗΡΑΚΛΕΙΟ", "ΠΑΛΑΙΟ ΦΑΛΗΡΟ", "ΝΕΑ ΙΩΝΙΑ", "ΑΓΙΟΙ ΑΝΑΡΓΥΡΟΙ", "ΑΓΙΑ ΠΑΡΑΣΚΕΥΗ"]

values = ["ΧΑΝΙΩΝ", "ΦΑΡΣΑΛΩΝ", "ΙΩΑΝΝΙΝΩΝ", "ΣΕΠΟΛΙΩΝ","ΤΡΙΚΑΛΩΝ", "ΑΝΩ ΛΙΟΣΙΩΝ", "ΚΑΛΥΒΙΩΝ", "ΜΕΓΑΡΩΝ", "ΝΕΟΥ ΗΡΑΚΛΕΙΟΥ", "ΠΑΛΑΙΟΥ ΦΑΛΗΡΟΥ", "ΝΕΑΣ ΙΩΝΙΑΣ" , "ΑΓΙΩΝ ΑΝΑΡΓΥΡΩΝ", "ΑΓΙΑΣ ΠΑΡΑΣΚΕΥΗΣ"]

city_dict = dict(zip(keys, values))

In [31]:
# Fix names and cities functions

def names () :
    ton_list = []
    for t in test["Name"] :
            x = str(t)
            for ton1 in ton_list :
                if x == ton1:
                    ton_list.append("Τον")            
            if x[-2:] == "ΟΣ" or x[-2:] == "ΗΣ" :
                ton_list.append("Τον")
            elif x[-1:] == "Α" or x[-1:] == "Η":
                ton_list.append("Την")
            else :
                ton_list.append("Την")    
    test["Ton"] = ton_list

    surname_list = []
    
    
    for t in test["Surname"] :
        if t[-1] == "Σ" :
            t = t[:-1]
        surname_list.append(t)        
    test["Surname"] = surname_list        

    name_list = []

    for t in test["Name"] :
        if t[-1] == "Σ" :
            t = t[:-1]
        name_list.append(t)

    test["Name"] = name_list

    father_list = []

    for t in test["Father"] :
        x = str(t)
        if x[-2:] == "ΗΣ" or x[-2:] == "ΑΣ" :
            x = x[:-1]
        elif x[-2:] == "ΟΣ":
            x = x[:-1] + "Y"
    #     print(x)
        father_list.append(x)        

    test["Father"] = father_list

In [32]:
def cities() :    
    
    city_list = []

    for t in test["City"] :
        x = str(t)

        for city1, city2 in city_dict.items() :
            if x == city1:
                x = city2
        
        if x[-1] == "Α" or x[-1] == "Η" :
            x = x + "Σ"
        
        elif x[-2:] == "ΑΣ" :
            x = x[:-1]    
    
        elif x[-2:] == "ΕΣ" or x[-2:] == "ΟΙ":
            x = x[:-2] + "ΩΝ"    
            
        elif x[-1] == "Ι"  :
            x = x + "ΟΥ"

        elif x[-1] == "Ο"  :
            x = x + "Υ"

        elif x[-2:] == "ΟΣ" :
            x = x[:-1] + "Y"

        city_list.append(x)

    test["City"] = city_list

In [33]:
test

,Ton,Surname,Name,Father,City,Address,Number,TK,ΑΦΜ,stoixeia
0,NaN,ΣΑΡΑΝΤΑΡΗ,ΠΑΝΑΓΙΩΤΑ,ΠΑΝΤΕΛΗΣ,ΑΡΤΑ,ΧΑΛΚΙΑΔΕΣ,nan,47100,115068290,
1,NaN,ΜΠΑΣΟΥΚΟ,ΙΩΑΝΝΗ,ΛΟΥΚΑΣ,ΧΑΛΚΙΔΑ,ΧΑΙΝΑ,1,34100,26702675,
2,NaN,ΧΡΥΣΤΟΠΟΥΛΟΥ,ΔΗΜΗΤΡΑ,ΚΩΝΣΤΑΝΤΙΝΟΣ,ΛΑΜΙΑ,ΠΑΛΑΙΟΛΟΓΟΥ,14,35100,149853000,
3,NaN,ΚΟΛΟΤΟΥΡΟ,ΑΝΔΡΕΑ,ΓΕΩΡΓΙΟΣ,ΑΙΓΑΛΕΩ,ΣΑΜΟΥ,62,12243,165327791,
4,NaN,ΓΕΩΡΓΟΥΛΑΚΟΥ,ΠΑΝΑΓΙΩΤΑ,ΙΩΑΝΝΗΣ,ΝΙΚΑΙΑ,ΚΑΛΛΙΠΟΛΕΩΣ,18,18454,103197323,
...,...,...,...,...,...,...,...,...,...,...
409,NaN,ΦΑΚΑ,ΖΗΣΗ,ΑΧΙΛΛΕΑΣ,ΛΑΡΙΣΑ,ΠΡΟΦΗΤΗ ΗΛΙΑ,12,41335,104611180,
410,NaN,RALUCA,MIRELA,MIHAI,ΑΘΗΝΑ,ΣΚΙΑΘΟΥ,8,11254,175667062,
411,NaN,ΒΑΒΑΡΟΥΤΑ,ΠΑΝΑΓΙΩΤΗ,ΑΝΔΡΕΑΣ,ΠΑΤΡΑ,ΚΟΡΙΝΘΟΥ,385,26222,46005178,
412,NaN,ΚΟΤΣΙΦΑ,ΠΑΝΑΓΙΩΤΗ,ΦΩΤΙΟΣ,ΑΘΗΝΑ,ΑΝΤΙΦΙΛΟΥ,19,11528,26875931,
413,NaN,ELSHENIKY,ELTABEI,HASAN MOHAMMED,ΑΘΗΝΑ,ΠΟΝΤΟΥ,70,11527,127556214,

In [34]:
names()
if len(stoixeia.columns) > 4 :
    cities()
    
    test["stoixeia_full"] = test["Ton"] + " " + test["Surname"] + " " + test["Name"] + ", κάτοικο "+ test["City"] + ", οδός " + test["Address"] + " αρ. " + test["Number"] + ", ΤΚ " + test["TK"] + ", με ΑΦΜ " + test["ΑΦΜ"] + "."
test["stoixeia"]=  test["Ton"] + " " + test["Surname"] + " " + test["Name"] 
filename = file[60:80]
test.to_excel(f"{filename}.xlsx", index = False)

TypeError: 'float' object is not subscriptable

In [35]:
test

,Ton,Surname,Name,Father,City,Address,Number,TK,ΑΦΜ,stoixeia
0,Την,ΣΑΡΑΝΤΑΡΗ,ΠΑΝΑΓΙΩΤΑ,ΠΑΝΤΕΛΗΣ,ΑΡΤΑ,ΧΑΛΚΙΑΔΕΣ,nan,47100,115068290,
1,Την,ΜΠΑΣΟΥΚΟ,ΙΩΑΝΝΗ,ΛΟΥΚΑΣ,ΧΑΛΚΙΔΑ,ΧΑΙΝΑ,1,34100,26702675,
2,Την,ΧΡΥΣΤΟΠΟΥΛΟΥ,ΔΗΜΗΤΡΑ,ΚΩΝΣΤΑΝΤΙΝΟΣ,ΛΑΜΙΑ,ΠΑΛΑΙΟΛΟΓΟΥ,14,35100,149853000,
3,Την,ΚΟΛΟΤΟΥΡΟ,ΑΝΔΡΕΑ,ΓΕΩΡΓΙΟΣ,ΑΙΓΑΛΕΩ,ΣΑΜΟΥ,62,12243,165327791,
4,Την,ΓΕΩΡΓΟΥΛΑΚΟΥ,ΠΑΝΑΓΙΩΤΑ,ΙΩΑΝΝΗΣ,ΝΙΚΑΙΑ,ΚΑΛΛΙΠΟΛΕΩΣ,18,18454,103197323,
...,...,...,...,...,...,...,...,...,...,...
409,Την,ΦΑΚΑ,ΖΗΣΗ,ΑΧΙΛΛΕΑΣ,ΛΑΡΙΣΑ,ΠΡΟΦΗΤΗ ΗΛΙΑ,12,41335,104611180,
410,Την,RALUCA,MIRELA,MIHAI,ΑΘΗΝΑ,ΣΚΙΑΘΟΥ,8,11254,175667062,
411,Την,ΒΑΒΑΡΟΥΤΑ,ΠΑΝΑΓΙΩΤΗ,ΑΝΔΡΕΑΣ,ΠΑΤΡΑ,ΚΟΡΙΝΘΟΥ,385,26222,46005178,
412,Την,ΚΟΤΣΙΦΑ,ΠΑΝΑΓΙΩΤΗ,ΦΩΤΙΟΣ,ΑΘΗΝΑ,ΑΝΤΙΦΙΛΟΥ,19,11528,26875931,
413,Την,ELSHENIKY,ELTABEI,HASAN MOHAMMED,ΑΘΗΝΑ,ΠΟΝΤΟΥ,70,11527,127556214,